*.DS_Store
*.asv
*.sh
.gitignore
*.py

experiments/results-old
experiments/evaluationFunctions/oldFunctions
MSS-experiements/
MSSwaypointsSearch/

ProsessResults/multiobjectiveSearch
ProcessResultsFunctions/evaluationFunctions/
ProcessResultsFunctions/Plots/
ExperimentFunctions/results-old
ExperimentsResults/mariner
ExperimentsResults/remus100
ExperimentsResults/nspauv
slprj/
Figures/oldFigures



BIMK-PlatEMO-4.7.0.0/
MSS/

